body {
    background-color: rgb(133, 225, 226);
    font-family: "Saira", sans-serif;
}
.header_div {
    background: white;
    color:black;

}
.header_div_ p {
color:rgb(255, 0, 0);
letter-spacing: 2px;
font-size: 18px;
font-weight: bold;
}
.main_div button {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;

}
.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-align:center ;
    line-height: 3;
    
}